.small-container{
    width: 80%;
    margin: 0 auto;
}
/*Feature Products*/
.product_display_section .product_card img{
    width: 100%;
}
.product_display_section .product_card{
    width: 23%;
    transition: transform 0.5s ease-in-out;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.product_display_section .product_display {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;

}
.product_display_section .product_card:hover {
    transform:scale(1.05);
}
.product_display_section h2 {
    font-family: 'Oswald', sans-serif;
    color: #D4AF37;
}
.product_display_section h4 {
    font-family: 'Oswald', sans-serif;
}
.small-container .product_display .row h2 {
    font-family: 'Oswald', sans-serif;
    color: #D4AF37;
    text-align: center;
}